{% extends '::baseform.html.twig' %}

{% block title %}Nouveau devis{% endblock %}
{% block body %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">{{ form_row(form.date) }} </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">{{ form_row(form.tva) }} </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">{{ form_row(form.acompte) }} </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">{{ form_row(form.acompteVal) }} </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">{{ form_row(form.reference) }} </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ form_row(form.lignes) }} </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    function ajoutLigne() {
        var div = $('#facture_lignes');

        var prototype = div.data('prototype');
        var index = div.data('index');
        if (isNaN(index)) {
            index = 0;
        }
        var newForm = prototype.replace(/__name__/g, index);

        div.data('index', index + 1);

        $('#btn-add-ligne').before(newForm);
    }
    $(function() {
        $('#facture_lignes').append('<button id="btn-add-ligne" type="button">Ajouter</button>');
        $('#btn-add-ligne').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            ajoutLigne();
        });
    });
</script>
{% endblock %}

